
ejemplo3.X/nbproject/Makefile-genesis.properties

ejemplo2.X/nbproject/Makefile-genesis.properties

ejemplo1.X/nbproject/Makefile-genesis.properties

ejercicioPropuesto1.X/nbproject/Makefile-genesis.properties
